@import "tailwindcss";

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

@media print {
  @page {
    margin: 1cm;
    size: auto;
  }
  body {
    background: white !important;
    color: black !important;
  }
  header, nav, aside, button, a {
    display: none !important;
  }
}
